[Desktop Entry]
Version=1.0
Type=Application
Name=NavTunnel
GenericName=VPN Client
Comment=Cliente OpenVPN con autenticación multi-factor
Icon=navtunnel
Exec=/usr/bin/navtunnel
Terminal=false
Categories=Network;
Keywords=vpn;openvpn;network;security;tunnel;
StartupNotify=true
StartupWMClass=NavTunnel
